<html>
    <title>form1</title>
    <body>
        <form action="getData" method="POST">
            Username  <input type="text" name="username"><br>
            Gender  <input type="radio" name=gender value="male"> Male
            <input type="radio" name=gender value="female"> Female<br>
            Email  <input type="text" name="email"><br>
             Password  <input type="text" name="password"><br>
            RateUs  <input type="number" name="rateus"> <br>
            <input type="submit">
        </form>
    </body>
</html>