<html>
    <head>

    </head>
    <body>
        <form action="getData" method="POST">
            num1 <input type="text" name="username"> <br><br>
            num2 <input type="text" name="password"> <br><br>
            
            <input type="submit">
        </form>
    </body>
</html>